.HomePage {
    height: 100vh;
    width: auto;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSection {
    opacity: 1;
    transition: 0.8s;
    width: 60vw;
}

.MainSection h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.MainSection h1 > span {
    font-size: 1.7em;
    font-weight: 500;
}

.Bold {
    font-weight: 700;
    color: #40A4C8;
}

.ArrowContainer {
    opacity: 1;
    transition: 0.8s;
    width: 20vw;
    display: flex;
    justify-content: center;
}

.Arrow {
    cursor: pointer;
    position: relative;
    background-color: #40A4C8;
    height: 60vh;
    width: 2px;
    top: 50vh;
    transform: translateY(-50vh)
}

.ArrowLeft {
    position: absolute;
    background-color: #40A4C8;
    left: -12px;
    top: calc(60vh - 6px);
    height: 2px;
    width: 16px;
    transform: rotate(45deg) ;

}

.ArrowRight {
    position: absolute;
    background-color: #40A4C8;
    top: calc(60vh - 6px);
    left: -2px;
    height: 2px;
    width: 16px;
    transform: rotate(-45deg);
}

.ArrowDescrption {
    color: #aaa;
    text-align: center;
    position: absolute;
    top: 80vh;
    transform: translateX(calc(-50% - 32px)) translateY(-15px);
}

.OpacityAnimation {
    opacity: 0;
}