.NavigationItems {
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}


.NavigationItems li {
    margin: 0 16px;
}

.NavigationItems > a {
    color: #000;
    font-size: 1.5em;
}