.AboutMe {
    transform: translateY(-8%);
    height: 60vh;
    align-content: center;
    width: 100vw;
    /* background-color: #ccc; */
    background-color: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(219,229,236,.2) 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.AboutText {
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(-60%);
    opacity: 0;
    text-align: end;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 5vh;
    transition: 1s;
    width: 40%;
    height: 25vh;
    /* box-shadow: 0 6px 33px 0 rgba(219,229,236,.6); */
}

.AboutText span:nth-child(2) {
    z-index: 1;
    color: #40A4C8;
    font-size: 0.8em;
    transform: translateY(100%);
}

.Link {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

.Link:hover {
    z-index: 1;
    color: #000;
}

.AboutImage {
    z-index: 1;
    opacity: 0;
    transition: 1s;
    object-fit: contain;
    border-radius: 50%;
    height: 25vh;
    margin: 5vh;
}

.Movement {
    opacity: 1;
    transform: translateX(0%);
}

.BackgroundBox {
    transition: 0.8s;
    opacity: 0;
    top: -5vh;
    z-index: 0;
    position: absolute;
    width: 70vw;
    height: 40vh;
    transform: rotate(8deg);
    box-shadow: 0 6px 30px 0 #ddd;
}

.Background {
    opacity: 1;
}