.Technologies {
    height: 100vh;
    align-content: center;
    width: 100vw;
    /* background-color: #ccc; */
    background-color: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(219,229,236,.2) 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Technologies > i {
    color: #ccc;
    cursor: pointer;;
    font-size: 4vw;
    margin: 24px;
    transition: 0.6s;
}

.Technologies i:hover {
    font-size: 4.5vw;
}

.Technologies i:nth-child(1):hover {
    color: #3d8fc6;
}

.Technologies i:nth-child(2):hover {
    color: #c69;
}

.Technologies i:nth-child(3):hover {
    color: #e54d26;
}

.Technologies i:nth-child(4):hover {
    color: #f0db4f;
}

.Technologies i:nth-child(5):hover {
    color: #61dafb;
}

.Technologies i:nth-child(6):hover {
    color: #83CD29;
}

.Technologies i:nth-child(7):hover {
    color: #1C78C0;
}
