.NavigationItem {
    box-sizing: border-box;
    display: block;
}

.NavigationItem a {
    color: #000;
    text-decoration: none;
    width: 100%;
    transition: 0.2s;
    box-sizing: border-box;
    padding: 5px;
}

.NavigationItem a:hover {
    color: #40A4C8;
}

.NavigationItem a:active,
.NavigationItem a.active {
    color: orange;
}