* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
}

.NavBar {
    z-index: 2;
    position: fixed;
    height: 54px;
    /* background-color: transparent; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    transition: 0.5s;
}

.Title {
    position: relative;
    top: 19px;
    text-align: center;
    color: #000;
    width: 10%;
}

.Title:hover {
    cursor: pointer;
}

.Navigation {
    position: relative;
    top: 14px;
    color: #000;
    width: 90%;
}

.NavigationWrapper {
    margin-right: 10vw;
}

.Border {
    position: fixed;
    top: 54px;
    border-bottom: 2px solid #40A4C8;
    left: 50%;
    transform: translateX(-50%) translateY(-1px);
}

.Background {
    background-color: #fff;
    box-shadow: 0 4px 23px 0 rgba(219,229,236,.6);
    opacity: 1;
}
