.Footer {
    position: fixed;
    bottom: 0;
    opacity: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 48px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.5s;
    display:flex;
    flex-direction: row;
}

.Footer div {
    font-weight: 100;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    margin: 0 66px 0 66px;
    text-align: center;
}

.Footer div:first-of-type {
    width: 10%;
    justify-content: flex-start;
}

.Footer div:last-of-type {
    margin-right: 10vw;
    width: 90%;
    justify-content: flex-end;
}

.Background {
    opacity: 1;
}